.infoBox {
  flex: 1;
}

.infoBox:not(:last-child) {
  margin-right: 25px;
}

.infoBox--selected {
  border-top: 10px solid rgb(0, 199, 10);
}

.infoBox--red {
  border-color: rgb(255, 0, 0);
}

.infoBox__cases--green {
  color: rgb(0, 199, 10) !important;
}

.infoBox__cases {
  color: rgb(255, 0, 0);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #242424;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
